.absol {
  position: absolute;
  z-index: 2;
  width: 100vw;
}

.first-div {
  background-color: orange;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  padding-top: 8%;
}

.h2-acc {
  color: white;
  font-weight: 900;
  font-size: 3.5rem;
  text-align: left;
}

.p-acc {
  color: white;
  font-weight: 500;
  font-size: 1rem;
  margin-left: 15%;
  margin-right: 15%;
  text-align: justify;
}

.img-acc {
  width: 70%;
  padding-top: 5%;
}

.second-div {
  background-color: rgba(0, 0, 0, 0.1);
  height: 100vh;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  padding-top: 3%;
}

.sign-div {
  display: block;
  padding: 0 20%;
}

@media (max-width: 1000px) {
  .sign-div {
    display: block;
    padding: 0 15%;
  }

  .first-div,
  .second-div {
    padding-top: 0;
  }
}

.nav-tabs {
  border-bottom: none !important;
}

li button.active {
  background-color: orange !important;
  color: white !important;
  border-radius: 10px !important;
}

li button:hover {
  background-color: orange !important;
  color: white !important;
  border-radius: 10px !important;
}

li button {
  border: none !important;
  border-color: white !important;
}

.contact .title-beauty {
  text-align: center;
}

.title-beauty {
  font-weight: bolder;
  background-color: black;
  color: white;
  font-size: 1.5rem;
  width: 100%;
  border-color: black;
  text-underline-offset: 0.5rem;
  margin-bottom: 2rem;
}

.title-beauty:hover {
  border-color: orange;
}

.big-icon {
  font-size: 10rem;
  color: orange;
}

.icon-div {
  text-align: center;
}

.about-p {
  margin-top: 6%;
  font-size: 1.5rem;
  font-weight: bolder;
  text-align: center;
  color: black;
}

.input-acc {
  border-width: 0.1rem;
  border-radius: 30px;
  border-color: black;
  text-align: left;
  margin-bottom: 2%;
  margin-top: 2%;
  color: orange;
  font-weight: 500;
  padding: 0.6rem 0 0.6rem 1rem;
}

.input-btn-acc:hover {
  border-width: 0.1rem;
  border-radius: 30px;
  border-color: black;
  margin-bottom: 2%;
  margin-top: 2%;
  color: orange;
  font-weight: 500;
  background-color: black !important;
}

.btn-color:hover {
  color: orange;
  font-size: 1.5rem;
}

.input-btn-acc {
  border-width: 0.1rem;
  border-radius: 30px;
  border-color: rgba(0, 45, 64, 0.5);
  margin-bottom: 2%;
  margin-top: 2%;
  color: orange;
  font-weight: 500;
  background-color: orange !important;
}

.btn-color {
  color: black;
  font-size: 1.5rem;
}

.input-acc:placeholder {
  font-size: 1rem;
  font-weight: 500;
  color: black;
}

.input-acc:hover {
  border-color: black;
  color: orange;
  font-weight: 500;
}

.btn-acc {
  background-color: black;
  padding: 1% 20%;
  text-align: center;
  font-weight: 700;
  font-size: 1.3rem;
  border-radius: 30px;
}

.btn-div {
  margin-top: 4%;
  text-align: center;
}

.acc-div-a {
  text-align: center;
  padding-top: 5%;
  font-size: 1rem;
  font-weight: 500;
}

.a-acc {
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 1.1rem;
}

.a-acc:hover {
  color: orange;
}

.span-acc-error {
  color: black;
  font-weight: 500;
  margin-top: 0;
  margin-left: 5%;
}

.span-acc-pass {
  color: black;
  font-weight: 500;
  margin-top: 0;
  margin-left: 5%;
}

.icon-acc {
  margin-right: 2%;
}

.alert {
  padding-top: 0.3rem !important;
  padding-bottom: 0.3rem !important;
  margin-right: auto;
  margin-left: auto;
}

.alert-p {
  display: inline;
  font-weight: 600;
}

.alert-close {
  float: right;
  color: black !important;
}

div.alert {
  text-align: center;
}
